html {
    font-family:'Quicksand', sans-serif;
    background-color: #a99cc8;
}

h1 {
    font-size: 60px;
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px #fdcdbd;
    text-align: center;
    color:#c35cad;
}

h2 {
    font-size: 20px;
    text-align: center;
    color: #db6380;
}

p,li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color:#7d2c6f;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #dfc9e2;
    padding: 0 20px 20px 20px;
    border: 5px solid #ed9dba;
}

img {
    display: block;
    margin: 0 auto;
}